version: "3.4"
services:
  bot:
    build:
      context: ../
      target: release
    image: zzbslayer/kokkoro_bot:latest
    # ports:
    #   - "5001:5001" Ports for wechat_enterprise
    volumes:
      - ~/.kokkoro:/root/.kokkoro
    command: python3.8 -u /bot/run.py

  web:
    image: zzbslayer/kokkoro_bot:latest
    ports:
      - "5100:5001"
    volumes:
      - ~/.kokkoro:/root/.kokkoro
    command: python3.8 -u /bot/run_web.py
